<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered table-condensed table-striped table-responsive">
				<thead class="text-center">
					<th>Nombre</th>
					<th>Fecha de inicio</th>
					<th>Fecha de finalización</th>
					<th></th>
				</thead>
				<tbody>
					<tr *ngFor="let item of courses">
						<td>{{item.name}}</td>
						<td class="text-center">{{item.startDate}}</td>
						<td class="text-center">{{item.endDate}}</td>
						<td class="text-center">
							<div class="btn-group">
								<button type="button" (click)="editCourse(item)" class="btn btn-primary">
									<i class="bi bi-pencil-fill"></i>
								</button>

								<button type="button" (click)="deleteCourse(item)" class="btn btn-danger">
									<i class="bi bi-trash-fill"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>